{% extends "main/base.html" %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'donate/success.css' %}" />
{% endblock %} {% block header %}
<div id="box">
  <img id="succes-icon" src="{% static 'images/check.png' %}" />
  <h4>Thank you for your contribution of ${{amount}}!</h4>
  <p>
    Your donation helps us continue to support skateboarding, the skateboarding
    community, and allows us to build more spots! You should receive a receipt
    to the email you provided shortly :)
  </p>
  <hr />
  <a class="myButton" href="{% url 'donate' %}">&#x2190;Back to donation page</a>
</div>

{% endblock %}
