:root {
  --red: #f03e3e;
  --darkred: #c92a2a;

  --white: #f1f3f5;
  --black: #14171a;
  --blue: #0b7285;
  --font-family-sans-serif: "Montserrat", sans-serif !important;
  --font-family-mono: "Roboto", sans-serif;
  --darkgray: #212529;
}

body {
  font-family: var(--font-family-mono);
  background-color: var(--blue);
}

.btn-primary {
  background-color: var(--red);
  border-color: var(--red);
}
.btn-primary:hover {
  background-color: var(--darkred);
  border-color: var(--darkred);
}

.dropdown-item {
  font-variant: small-caps;
}

.cap {
  text-transform: uppercase;
}

.sign-up {
  background-color: var(--red);
  border-color: var(--red);
}

.btn {
  font-variant: small-caps;
}
font-variant: small-caps;

.inner-nav {
  max-width: 1400px;
}

nav {
  box-shadow: 0 4px 2px -2px rgba(41, 41, 41, 0.342);
  max-width: 100%;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-nav {
  margin-right: 0 !important;
}

.nav-item {
  margin: 2px;
  padding: 0px;
}

.nav-link {
  
  font-variant: small-caps !important;
  font-size: 1.5rem;
}

.navbar-brand {
  margin-left: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.xp-nav {
  color: var(--red);
  font-size: 2rem;
  font-weight: bold;
}

.xp-nav {
  color: var(--red);
  font-size: 2.5rem;
  font-weight: bold;
}

.xp-footer {
  font-size: 1.7rem !important;
}

.hero {
  width: 100%;
  height: 95vh;
  min-height: 600px;
  max-height: 1250px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.hero::after {
  content: "";
  background-image: url(/static/images/landingskate.jpg);
  opacity: 0.35;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-button {
  margin: 20px 0;
  border: 2px solid #111;
  background-color: transparent;
  width: 170px;
  padding: 10px;
  font-variant: small-caps;
  border-radius: 8px;
}

.contribute {
  background-color: var(--red);
  color: white;
  border: 2px solid var(--red);
}


.hero-link {
  text-decoration: none;
  color: var(--black);
}

.hero-link:hover {
  color: var(--white);
  text-decoration: none;
}

.hero-button:hover > .hero-link {
  color: var(--white);
}

.hero-button:hover {
  background-color: var(--darkred);
  color: var(--white);
  transition: 0.2s;
  border: 2px solid transparent;
}

.hero-header {
  font-size: 6.5rem;
  font-variant: small-caps;
  align-self: flex-start;
  max-width: 650px;
  margin: 0 auto;
  margin: 0;
}

.hero-header::before {
  position: absolute;
  z-index: -1;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1%;
  content: "";
  background-color: var(--black);
}
.hero-text {
  position: relative;
  bottom: 5px;
  font-size: 0.975rem;
  max-width: 650px;
  line-height: 1.4rem;
  color: var(--darkgray);
}

/* .hero-wrap {
  margin: auto;
  position: relative;
  bottom: 22vh;
  right: 25vw;
} */
/* Centered text */
.hero-wrap {
  max-width: 350px;

  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -80%);
}

.button-wrap {
  display: flex;
  justify-content: space-between;
}
.xp {
  color: var(--red);
}

.offerings {
  background-color: var(--darkgray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  height: 450px;
  font-size: 1.25rem;
  font-variant: small-caps;
}

.offerings h1 {
  margin: 25px auto;
}

.link {
  color: var(--white);
}

.link:hover {
  color: var(--white);
  text-decoration: none;
}

/* 
  programs
  */
.separator {
  background-image: url();
}

.programs-div h1 {
  color: var(--white);
}
.card img {
  height: auto;
  width: 100%;
}

.card-body {
  background-color: var(--white);
  color: black;
}

/*  */

/* FOOTER */

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: #212529;
}
.footer {
  padding: 50px;
  color: var(--white);
}

.inner-footer > h3 {
  font-variant: small-caps;
}

hr.vertical {
  height: 75px; /* you might need some positioning for this to work, see other questions about 100% height */
  width: 0;
  border: 2px solid black;
}

.socials > ul {
  display: flex;
  align-items: center;
  width: 125px;
  justify-content: space-around;
  list-style-type: none;
  padding: 5px;
}

.socials > ul > li {
  width: 35px;
}
.fa {
  color: var(--white);
}

.icons {
  font-size: 10px;
}

/*  */
@media screen and (min-width: 1018px) {
  .hero {
    box-shadow: 02px -2px 2px 0px rgba(128, 128, 128);
  }
}

@media screen and (max-width: 990px) {
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04aa6d;
    color: white;
  }

  .hero-header {
    transition: 0.5s;
  }

  .hero-wrap {
    max-width: 350px;
  
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -80%);
  }

  .offerings {
    padding: 5px;
    height: 300px;
  }
  .offerings h1 {
    font-size: 1.35rem;
  }
  .title-card {
    font-size: 150%;
  }
}

@media screen and (max-width: 470px) {
  .offerings h1 {
    font-size: 1.05rem;
  }
  .text-card {
    height: 400px;
  }
}

.cardgroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cardgroup::after {
  content: "";
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  opacity: 0.8;
  top: calc(100vh + 850px);
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.outer-card {
  margin: 100px 15px;
  box-shadow: 1px 1px 7px 5px rgba(68, 68, 68, 0.151);
  width: 420px;
  max-width: 100%;
}

.img-card {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.inner-card {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #f0f0f0;

}

.card-button {
  width: 100%;
  height: 50px;
  border-width: 2px;
  color: var(--white);
  box-shadow: 2px 2px 6px 3px rgba(85, 52, 52, 0.247);
}

.card-button:hover {
  box-shadow: 2px 2px 8px 3px rgba(85, 52, 52, 0.527);
}
.title-card {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 3px rgba(68, 68, 68, 0.151);
  margin: 0 0 15px 0;
  padding: 10px;
  font-variant: small-caps;
  background-color: var(--black);
  color: var(--white);
  letter-spacing: 0.32rem;
  font-size: 150%;
}

.text-card {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 0 0 25px 0;
  color: #575d68;
  background-color: var(--white);
  box-shadow: 2px 2px 6px 3px rgba(68, 68, 68, 0.068);
  border-radius: 8px;
  font-size: 0.95rem;
  letter-spacing: 0.05rem;
  min-height: fit-content;
  line-height: 1.55rem;
  font-kerning: auto;
}

@media screen and (max-width: 1440px) {
  .text-card {
    height: 175px;
  }
}

/* larger than 990px */
@media screen and (min-width: 990px) {
  .outer-card {
    max-width: 360px;
  }
  .cardgroup {
    width: 100%;
    max-width: 1111px;
    margin: 0 auto;
    height: min-content;
    min-height: 600px;
    max-height: 1250px;
    flex-direction: row;
  }

}
/* smaller than 990px */
@media screen and (max-width: 990px) {
  .text-card {
    height: fit-content;
  }
  .outer-card {
    margin: 20px 0px;
  }
  .cardgroup::after {
    min-width: auto;
    min-height: 750px;
  }
  .nav-item {
    margin: 5px;
    padding: 0px;
  }
  
  .nav-link {
    font-variant: small-caps !important;
    font-size: 1.1rem;
  }
  .hero-header {
    font-size: 5.8rem;
  }
}

@media screen and (max-width: 600px) {
  .text-card {
    height: fit-content;
  }

  .hero-link {
    width: 150px;
  }
  .hero-button {
    width: 100%;
  }

  .inner-card {
    padding: 5px;
  }
}
