body {
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 0px 15px 3px rgba(27, 27, 27, 0.295);
}

.outer-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 555px;
  max-width: 1500px;
  margin: auto;
  justify-content: space-evenly;
}

.right {
  border-top: 1px solid var(--white);
  border-left: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  align-self: flex-end;
  position: relative;
  bottom: 0px;
  margin-bottom: 10px !important;
  margin-top: 0 !important;

}

.left {

  align-self: flex-start;
  margin-top: 10px !important;
  margin-bottom: 0 !important;

}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 60px;
  width: 60%;
  margin: 20px 0;
  max-width: 750px;
}

.header-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 1.8rem;
  font-variant: small-caps;
  margin: 0;

}
.wheel {
  margin-bottom: 15px;
}

@media screen and (max-width: 1200px) {
  .box {
    width: 100%;
  }

}


@media screen and (max-width: 990px) {
  .box {
    max-width: 100%;
    border-radius: 0;
    padding: 5px;

  }
  .inner{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .left {

  }

  .right {
border: none;
  }

  .right-inner > p {
    justify-content: flex-end;
    border-right: 1px solid var(--white);
    height: 10%;
    border-top: 1px solid var(--white);
    padding: 10px;
  }

  svg {
    max-width: 150px;
  }
  img {
    max-width: 150px;
  }
}

@media screen and (max-width: 550px) {
  .inner {
    justify-content: center;
  }
}