{% extends "main/base.html" %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'news/main.css' %}" />
{% endblock %}{% block title %}- news{% endblock %} {% block header %}
<!-- 
<div class="container news-container">
  <div class="row">
    Blog Entries Column
    <div class="wrapper">
      {% for post in posts|slice:":1"%}
      <div class="first-card">
        <div class="body">
          <h2 class="title">{{ post.title }}</h2>
          <p class="text text-muted h6">
            {{ post.author }} | {{ post.date_posted}}
          </p>
          <p class="text">{{post.content|slice:":200" }}</p>
          <a href="{% url 'post-detail' post.id  %}" class="btn btn-primary"
            >Read More &rarr;</a
          >
        </div>
      </div>
      {% endfor %}
    
    
      {% for post in posts|slice:"1:2"%}
      <div class="card other-cards">
        <div class="body">
          <h2 class="title">{{ post.title }}</h2>
          <p class="text text-muted h6">
            {{ post.author }} | {{ post.date_posted}}
          </p>
          <p class="text">{{post.content|slice:":200" }}</p>
          <a href="{% url 'post-detail' post.id  %}" class="btn btn-primary"
            >Read More &rarr;</a
          >
        </div>
      </div>
      {% endfor %}   
  </div>
</div>
</div> -->

<div class="container">
  <div class="frontpage">
    {% if  posts|slice:"3:" %}
    <div class="fp-cell fp-cell--1">
      <h1 class="old-header">older post</h1>
      <div class="fp-item old-post-wrap">
        <ul class="old-post-list">
          {% for post in posts|slice:"3:"%}
          <a class="old-link" href="{% url 'post-detail' post.id  %}">
          <li class="old-post-item">
            <div class="old-img"><img src="{{ post.image.url }}" alt="{{ post.image_alt }}"></div>
            <div class="old-title">{{ post.title }}</div>
            <div class="old-auth">
              by {{ post.author }} on {{ post.date_posted }}
            </div>
          </li>
        </a>  
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
    {% for post in posts|slice:":1"%}
    <div class="fp-cell fp-cell--2">
      <h1 class="latest-news">latest news</h1>
      <a class="old-link" href="{% url 'post-detail' post.id  %}">
      <div class="fp-item post-item latest-item">
        <div class="info-wrap new-info-wrap">
        <div class="new-title">{{ post.title }}</div>
        <div class="new-auth">
          by {{ post.author }} on {{ post.date_posted }}
        </div>
        <div class="post-preview">{{ post.content| safe | slice:":350" }}....</div>
      </div>
      <div class="image-wrap latest-image-wrap">
        <img src="{{ post.image.url }}" alt="">
      </div>
    </div>
  </a>
</div>
{% endfor %}
    {% for post in posts|slice:"1:2"%}

    <div class="fp-cell fp-cell--3">
      <a class="old-link" href="{% url 'post-detail' post.id  %}">
      <div class="fp-item column post-item">
        <div class="new-title">{{ post.title }}</div>
        <div class="new-auth">
          by {{ post.author }} on {{ post.date_posted }}
        </div>
        <div class="image-wrap">
          <img class="post-img" src="{{ post.image.url }}" alt="">
          <div class="post-preview">{{ post.content| safe |slice:":200" }}....</div>
        </div>
      </div>
    </a>
    </div>
    {% endfor %} {% for post in posts|slice:"2:3"%}

    <div class="fp-cell fp-cell--4">
      <a class="old-link" href="{% url 'post-detail' post.id  %}">
      <div class="fp-item column post-item">
        <div class="new-title">{{ post.title }}</div>
        <div class="new-auth">
          by {{ post.author }} on {{ post.date_posted }}
        </div>
        <div class="image-wrap">
          <img class="post-img" src="{{ post.image.url }}" alt="">
          <div class="post-preview">{{ post.content| safe |slice:":200" }}....</div>
        </div>
      </div>
    </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
