body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: #e6e6e6;
}

.head_text {
    color: white;
}

.card {
    box-shadow: 0 16px 36px #ced4daab;
}


.news-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 10vh;
}


.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 'first' 'first' 'others';
    background-color: #fff;
    color: #444;
  }

  .first-card {
      grid-area: 'first';
      height: fit-content;
  }

  .other-cards {
      grid-area: 'others';
      height: fit-content;
  }