.wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.title-wrap {
    margin-bottom: 25px;
}

.news-title {
    font-variant: small-caps ;
    margin-bottom: 0;
    padding: 0;
}

.news-content {
    line-height: 1.85rem;
    letter-spacing: .03rem;
}