body {
  background-color: #0b7285;
}
.outer-staff {
  width: 100%;
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  grid-gap: 5px;
  margin: 10% auto;
}

.staff-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 209px);
  grid-gap: 10px;
  place-content: center;
}
.staff-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 209px;
}

.staff-member:hover > .staff-img{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    transition: .5s;
}

.staff-img {
  width: 209px;
  height: 220px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.staff-name {
  background-color: #212529;
  color: var(--white);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-top: 5px;
  font-size: .94rem;
  height: 55px;
}

.staff-link {
  text-decoration: none;
  max-height: 325px;
  width: 209px;
}
.staff-last {
  padding-left: 5px;
  color: var(--red);
  font-weight: bold;
}



.outer-img {
  background-color: #212529;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 230px;
}

.theteam {
  color: var(--white);
  font-size: 2.5rem;
  text-align: center;
  font-variant: small-caps;
  font-weight:500;
}

.the {
  position: relative;
  top: 7.5px;
}
.team {
  color: var(--red);
  position: relative;
  bottom: 7.5px;
}
.inner-img {
  max-height: 516px;
}

.right-div {
  height: 100%;
  width: 100%;
  justify-self: flex-end;
  background-color: #212529;
}

@media screen and (max-width:1100px) {
  .outer-img {
    flex-direction: column-reverse;
  justify-content: flex-end;
  width: unset;
  padding: 25px 20px 25px 0;

  }
}


@media screen and (max-width:365px) {
  .outer-img {

  padding: 25px 0px 25px 0;

  }
}

