{% extends "main/base.html" %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'main/main.css' %}" />
{% endblock %}{% block title %}- home{% endblock %} {% block header %}

<div class="hero">
  <div class="hero-wrap">
    <h1 class="hero-header">skate<span class="xp cap">xp</span></h1>
    <h4 class="hero-text">
      We are a local non-profit organization bringing the best skateboard
      experiences to kids everyday! Come skate, build, and learn with us today!
    </h4>
    <div class="button-wrap">
    <a class="hero-link" href="{% url 'main-mission'%}">
      <button type="button" class="hero-button">learn more</button>
    </a>
    <a class="hero-link" href="{% url 'donate'%}">
      <button type="button"  class="hero-button contribute">contribute</button>
    </a>
  </div>
  </div>
</div>

<div class="offerings main1" id="startchange">
  <h1>take part in the skateboarding experience</h1>
  <a class="link" href="{% url 'news-home'%}">
    <button type="button" class="sign-up btn btn-primary">welcome</button>
  </a>
</div>

<div class="separator" id="scroller"></div>

<div class="programs-div">
  <div class="cardgroup">
    <div
      class="outer-card"
      data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="600"
      data-aos-offset="450"
    >
      <img
        src="{{STATIC_URL}}/static/images/newarkgroup.jpg"
        alt="group of kids at skatepark relaxing"
        class="img-card card-img"
        alt="skateboarder riding in a pool"
      />

      <div class="inner-card">
        <h4 class="title-card">p.e. program</h4>
        <p class="text-card">
          Skate XP offers Berkeley High school students a PE waiver program for
          skateboarding. Skate and earn credits!
        </p>
        <a class="link" href="{% url 'pe-program' %}">
          <button type="button" class="btn btn-primary card-button">
            learn more
          </button>
        </a>
      </div>
    </div>
    <div
      class="outer-card"
      data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="600"
      data-aos-offset="450"
    >
      <img
        src="{{STATIC_URL}}/static/images/vistameet.jpg"
        class="img-card card-img"
        alt="skatexp meeting for skate spotters"
      />
      <div class="inner-card">
        <h4 class="title-card">skate spotters</h4>
        <p class="text-card">
          Skate XP is creating new skate spots and skate parks in the East Bay.
          Learn more about ways to contribute!
        </p>
        <a class="link" href="#"
          ><button type="button" class="btn btn-primary card-button">
            contribute
          </button>
        </a>
      </div>
    </div>
    <div
      class="outer-card"
      data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="600"
      data-aos-offset="450"
    >
      <img
        src="{{STATIC_URL}}/static/images/napagroup.jpg"
        class="img-card card-img"
        alt="kids at skate camp"
      />

      <div class="inner-card">
        <h4 class="title-card">hot doggers</h4>
        <p class="text-card">
          A program designed for the experienced younger skater – one who hungry to
          progress and be challenged!
        </p>
        <a class="link" href="{% url 'hotdoggers' %}">
          <button type="button" class="btn btn-primary card-button">
            sign-up
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
