{% extends "main/base.html" %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'main/main.css' %}" />
{% endblock %}{% block title %}- home{% endblock %} {% block header %}

<div class="hero">
  <div class="hero-wrap">
    <h1 class="hero-header">skate<span class="xp cap">xp</span></h1>
    <h4 class="hero-text">
      Welcome to the skateboard experience
    </h4>
    <div class="button-wrap">
      <a class="hero-link" href="{% url 'story'%}">
        <button type="button" class="hero-button">skate stories</button>
      </a>
      <a class="hero-link" href="{% url 'donate'%}">
        <button type="button" class="hero-button contribute">contribute</button>
      </a>
    </div>
  </div>
</div>

<div class="offerings main1" id="startchange">
  <h1>for cities, municipalities and institutions</h1>
  <a class="link" href="{% url 'main-solutions'%}">
    <button type="button" class="sign-up btn btn-primary">learn more</button>
  </a>
</div>

<div class="separator" id="scroller"></div>

<div class="programs-div">
  <div class="cardgroup">
    <div
      class="outer-card"
      data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="600"
      data-aos-offset="50"
    >
      <img
        src="{% static '/images/event_pic_4_home.jpg' %}"
        class="img-card card-img"
        alt="skateboard event poster"
      />

      <div class="inner-card">
        <h4 class="title-card">special events</h4>
        <p class="text-card text-center justify-content-center">
          Something to look <br/>forward to
        </p>
        <a class="link" href="{% url 'main-events' %}">
          <button type="button" class="btn btn-primary card-button">
            learn more
          </button>
        </a>
      </div>
    </div>
    <div
      class="outer-card"
      data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="600"
      data-aos-offset="50"
    >
      <img
        src="{% static 'images/Stephen-Morrison-768x934.jpg' %}"
        class="img-card card-img"
        alt="steven doing a backtail"
      />
      <div class="inner-card">
        <h4 class="title-card">stories</h4>
        <p class="text-card">
          Skateboard <br />experiences
        </p>
        <a class="link" href="{% url 'story' %}"
          ><button type="button" class="btn btn-primary card-button">
            read stories
          </button>
        </a>
      </div>
    </div>
    <div
      class="outer-card"
      data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="600"
      data-aos-offset="50"
    >
      <img
        src="{% static 'images/WEB_HOME_PAGE.jpg' %}"
        class="img-card card-img"
        alt="skatepark 3d render"
      />

      <div class="inner-card">
        <h4 class="title-card">institutions, municipalities, & cities</h4>
        <p class="text-card">
          From concept to programming let Skate XP be your partner
          in the skateboard community
        </p>
        <a class="link" href="{% url 'main-solutions' %}">
          <button type="button" class="btn btn-primary card-button">
            learn more
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
