{% extends "main/base.html" %} 
{% load static %} 

{% block styles %}
<link rel="stylesheet" href="{% static 'mission/mission.css' %}" />
{% endblock %} 

{% block title %}- mission{% endblock %}

{% block header %}
<script>
    document.addEventListener('scroll', function() {
        const images = document.querySelectorAll('.ws');
        const rotation = window.pageYOffset; // This will rotate the image 1 degree for every pixel scrolled
        images.forEach(function(image) {
            image.style.transform = 'rotate(' + rotation + 'deg)';
        });
    });
</script>

<div class="outer-wrap mission-wrap">
  <div class="banner mt-5"></div>  
  <div class="left box">
    <div class="left-inner inner">
      <div class="header-wrap">
        <div
          class="ws"
    
        >
          <img src="{% static 'images/wheel.png' %}" alt="skateboard wheel" />
        </div>
      </div>
    </div>
    <div class="left-inner inner">
      <h1 class="header">
        our mission
      </h1>
      <p>
        Skate XP is dedicated to bringing the art of skateboarding alive in cities and communities around the Bay Area. We do this through city advocacy,  special events, school and after school programs, mentorship and job opportunities for skaters, and building and improving skate spots and skate parks

      </p>
    </div>
  </div>

  <div class="banner">
  </div>
  <div class="right box">
    <div class="right-inner inner">
      <h1 class="header" >vision</h1>
      <p >
        Skate XP advocates for a future 
        where skating is a valued art form, 
        and skaters thrive through all stages of life.
        
      </p>


    </div>
    <div class="right-inner inner">
      <div class="header-wrap">
        <div
          class="ws"
        >
          <img src="{% static 'images/wheel.png' %}" alt="skateboard wheel" />
        </div>
      </div>
    </div>
  </div>

  <div class="box center-values">
    <div class="center-values">
      <div class="banner mb-5"></div>
      <h1 class="header  text-dark pt-4">values</h1>
      <div class="inner-values">
        <ul class="value-list">
          <div class="value-box" data-aos="flip-left" data-aos-easing="linear">
            <div class="value-inner">
              <h5>Inclusivity</h5>
            </div>
          </div>
          <div class="value-box" data-aos="flip-up" data-aos-easing="linear">
            <div class="value-inner">
              <h5>Individuality</h5>
            </div>
          </div>
          <div class="value-box" data-aos="flip-right" data-aos-easing="linear">
            <div class="value-inner">
              <h5>Collaboration</h5>
            </div>
          </div>
          <div class="value-box" data-aos="flip-down" data-aos-easing="linear">
            <div class="value-inner">
              <h5>Respect</h5>
            </div>
          </div>
          <div class="value-box" data-aos="flip-left" data-aos-easing="linear">
            <div class="value-inner">
              <h5>Community</h5>
            </div>
          </div>
          <div class="value-box" data-aos="flip-up" data-aos-easing="linear">
            <div class="value-inner">
              <h5>Courage</h5>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
