{% extends "main/base.html" %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'programs/programs.css' %}" />

{% endblock %} {% block header %}
<script src="https://js.stripe.com/v3/"></script>
<div class="container">
  <div>
    <div>
      {% for data in program %}
      <div class="container-fluid center">
        <h1 class="title">{{ data.title }}</h1>
        {% if data.title == "pe waiver program" %}
        <h2 id="cost_header" value="{{data.cost}}">${{ data.cost }}</h2>
        <p class="monthly">/per semester</p>
        {% endif %}
      </div>
      <form action="{% url 'charged' %}" method="post" class="form" id="payment-form">
        {% csrf_token %} {{form.as_p}}

        <hr />
        <br />{% if data.title == "hot doggers" %}
        <p class="donation">Enter payment amount</p>
        {% else %}
        <p class="donation">Add a donation</p>
        {% endif %}
        $<input class="form-field-12 other" type="number" name="donation_amount" id="donationAmount" step="10" min="0"
          value=0 placeholder="other amount: $" />
        <input type="hidden" name="title" value="{{ data.title }}" />


        <input type="hidden" name="cost" id="cost_input" value="{{ data.cost }}" />
        <p>
        <div class="form-row">
          <label for="card-element"> Credit or debit card </label>
          <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
          </div>

          <!-- Used to display form errors. -->
          <div id="card-errors" role="alert"></div>
        </div>

        <div style="clear: left"></div>
        <hr />
        {% if data.title == "pe waiver program" %}
               <hr class="line">
        <p class="total" id="total">${{data.cost}}</p>
        {% endif %}

        <input class="myButton btn btn-submit" style="background-color: #f03e3e; color: #f8f8f8" type="submit"
          value="submit payment" name="" />
        </p>
      </form>
      <form action="validate_coupon" id="coupon">
        {% csrf_token %}
        <input type="text" class="coupon" id="coupon_code">
        <input class="myButton btn btn-submit" id="coupon_button" style="background-color: #f03e3e; color: #f8f8f8"
          onclick="validateCoupon()" value="apply coupon" name="coupon_button" />
      </form>

      {%endfor%}
      <div class="non-profit">
        *SKATE XP is a 501(c)(3) tax-exempt organization. Tax ID 85-0741700
      </div>
    </div>
  </div>

</div>
{% endblock %}
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script>

  // Create a Stripe client.
  var stripe = Stripe("{{ PUBLIC_STRIPE_KEY }}");

  // Create an instance of Elements.
  var elements = stripe.elements();

  // Custom styling can be passed to options when creating an Element.
  // (Note that this demo uses a wider set of styles than the guide below.)
  var style = {
    base: {
      color: "#e8e8e8",
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSmoothing: "antialiased",
      fontSize: "16px",
      "::placeholder": {
        color: "#aab7c4",
      },
    },
    invalid: {
      color: "#fa755a",
      iconColor: "#fa755a",
    },
  };

  // Create an instance of the card Element.
  var card = elements.create("card", { style: style });

  // Add an instance of the card Element into the `card-element` <div>.
  card.mount("#card-element");

  // Handle real-time validation errors from the card Element.
  card.addEventListener("change", function (event) {
    var displayError = document.getElementById("card-errors");
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = "";
    }
  });

  // Handle form submission.
  var form = document.getElementById("payment-form");
  form.addEventListener("submit", function (event) {
    event.preventDefault();

    stripe.createToken(card).then(function (result) {
      if (result.error) {
        // Inform the user if there was an error.
        var errorElement = document.getElementById("card-errors");
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server.
        stripeTokenHandler(result.token);
      }
    });
  });

  // Submit the form with the token ID.
  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById("payment-form");
    var hiddenInput = document.createElement("input");
    hiddenInput.setAttribute("type", "hidden");
    hiddenInput.setAttribute("name", "stripeToken");
    hiddenInput.setAttribute("value", token.id);
    form.appendChild(hiddenInput);

    // Submit the form
    form.submit();
  }


  document
    .getElementById("id_phone_0")
    .setAttribute("placeholder", "Parent Phone Number")
  document
    .getElementById("id_skater_phone_0")
    .setAttribute("placeholder", "Skater Phone Number");

  var ext = document
    .getElementById("id_phone_1")

  var stu_ext = document
    .getElementById("id_skater_phone_1")

  var labels = document.getElementsByClassName('phone-field-ext');
  for (let label of labels) label.style.display = 'none'
  ext.style.display = 'none';
  stu_ext.style.display = 'none';


  // keep track of food program checkbox...set cost to $0 if box is checked
  var checkbox = document.querySelector("input[name=food_program]");
  var donationListener = document.querySelector("input[name=donation_amount]");
  var cost = document.getElementById('cost_input');
  var total = document.getElementById('total');
  var donationAmount = document.getElementById('donationAmount')
  var discount = 0;
  var coupon_used = false;
  var originalCost = parseInt(cost.value);

  function calculate_total(checkbox) {
    if (checkbox.checked) {
        total.innerHTML = `$${0 + (parseInt(donationAmount.value) || 0)}`
      }
      else {
        total.innerHTML = `$${parseInt(originalCost) + (parseInt(donationAmount.value) || 0) - parseInt(discount)}`
      }
  }

  donationListener.addEventListener('change', function () {
    if (checkbox) {
      calculate_total(checkbox)
    }
    else {
      total.innerHTML = `$${parseInt(cost.value) + (parseInt(donationAmount.value) || 0)}`
    }
  })

  if (checkbox) {
    checkbox.addEventListener('change', function () {
      calculate_total(this)
    });
  }


  function validateCoupon() {
    if (!coupon_used) {
      var coupon = $('#coupon_code').val();
      $.ajax({
        type: "GET",
        url: "{% url 'validate_coupon' %}",
        data: {
          'coupon': coupon
        },
        dataType: 'json',
        success: function (data) {
          if (data.coupon) {
            coupon_used = true;
            discount = data.discount;
            if (checkbox) {
              calculate_total(checkbox)
            }
            else {
            total.innerHTML = `$${parseInt(cost.value) + (parseInt(donationAmount.value) || 0) - parseInt(data.discount)}`
            }
            cost.value = originalCost + (parseInt(donationAmount.value) || 0) - parseInt(data.discount)
          }
          else {
            alert("Invalid coupon")
          }
        }
      });
    }
    else {
      alert("Coupon already applied")
    }
  }
</script>
{% endblock %}