{% extends "main/base.html" %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'programs/programs.css' %}" />
{% endblock %} {% block header %} 
{% for object in programs %}
<div class="wrapper">
  <div class="left">
    <h1 class="title">{{ object.title }}</h1>
    <hr>
    <p class="content">
        {{ object.content | safe }}
    </p>
    <a href="{% url 'form'%}">
    <button class="sign-up">sign-up </button></a>
  </div>
  <div class="right">
    <p class="cost">${{ object.cost }}</p>
    <p class="right-title"><span class="bold">{{ object.title }}</p>
    <div class="sub-wrapper">
      <p class="subtitle">{{ object.subtitle }}</p>
      <img src="" alt="" />
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
